.buttonList{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.button{
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  background-color:burlywood;
}

.buttonImg{
  width: 150px;
  height: auto;
}

.boxList{
 display: flex;
 flex-direction: row;
 width: 1500px;
 justify-content:space-around ;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
}

.result{
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 100px;
}